spring:
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: <id>
            clientSecret: <secret>
            scope: openid,profile,email,https://www.googleapis.com/auth/youtube